<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ partial "head/_favicons.html" . }}
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{end}}" />
    <meta name="color-scheme">
    <!-- Stylesheets and Javascript -->
    {{ partial "head/_resources.html" . }}
</head>